  <a href="/">HOME</a>
  <a href="/downloads">DOWNLOADS</a>
  <a href="/store">STORE</a>
  <a href="/socials">SOCIALS</a>
  <a href="/docs/">DOCUMENTS</a>
<style>
  a {
  padding: 10px;
  color: var(--sl-color-text-accent);
  text-decoration: none;
}

</style>

