  <a href="https://teaclient.net">HOME</a>
  <a href="https://teaclient.net/store">STORE</a>
  <a href="https://teaclient.net/wiki">WIKI</a>
  <a href="https://teaclient.net/news">NEWS</a>
  <a href="https://teaclient.net/download">DOWNLOAD</a>
<style>
  a {
  padding: 10px;
  color: var(--sl-color-text-accent);
  text-decoration: none;
}

</style>

